.boring-dark {
    --background: 138 25% 10%;
    /* --foreground: 270 20% 97.8%; */
    --card: 120 15.8% 3.7%;
    /* --card-foreground: 240 4.8% 95.9%; */
    --popover: 124 68% 5%;
    /* --popover-foreground: 326 33% 96%; */
    --primary: 114 57% 41%;
    --primary-foreground: 114 46% 78%;
    --secondary: 120 15.1% 20.8%;
    --secondary-foreground: 120 13% 87%;
    --muted: 120 9% 25%;
    --muted-foreground: 107 13% 87%;
    --accent: 120 15.1% 20.8%;
    /* --accent-foreground: 326 33% 96%; */
    --destructive: 22 93% 27%;
    /* --destructive-foreground: 0 0% 100%; */
    --border: 114 51% 11%;
    --input: 120 74% 12%;
    --ring: 137 37% 43%;
    /* --chart-1: 220 70% 50%; */
    /* --chart-2: 160 60% 45%; */
    /* --chart-3: 30 80% 55%; */
    /* --chart-4: 280 65% 60%; */
    /* --chart-5: 340 75% 55%; */
    --sidebar-background: 120 7% 9%;
    --sidebar-foreground: 120 15.1% 20.8%;
    /* --sidebar-primary: 224.3 76.3% 48%; */
    /* --sidebar-primary-foreground: 0 0% 100%; */
    --sidebar-accent: 120 11% 14%;
    /* --sidebar-accent-foreground: 240 4.8% 95.9%; */
    /* --sidebar-border: 0 0% 0%; */
    /* --sidebar-ring: 333.3 71.4% 50.6%; */
    --gradient-noise-top: 120 15% 9%;
    --color-heading: 137 37% 43%;
    --chat-border: 120 13% 34%;
    --chat-background: 120 10% 10%;
    /* --chat-accent: rgba(25, 21, 30, .86); */
    /* --chat-input-gradient: 289 23% 23%; */
    /* --chat-input-background: hsla(270, 10%, 20%, var(--blur-fallback, 0.4)); */
    /* --chat-overlay: hsla(270, 12%, 16%, var(--blur-fallback, 0.71)); */
    --wordmark-color: 137 37% 43%;

    --c: 137 37% 43% !important;
}

.prose.prose-pink:is(.boring-dark *) {
    --tw-prose-td-borders: #59e24a;
    --tw-prose-th-borders: #4ac83a;
    /* --tw-prose-pre-bg: rgba(0, 0, 0, .5); */
    --tw-prose-pre-code: #59e24a;
    /* --tw-prose-code: #fff; */
    --tw-prose-kbd-shadows: #f8fbf8;
    /* --tw-prose-kbd: #fff; */
    --tw-prose-captions: #4ac83a;
    --tw-prose-quote-borders: #59e24a;
    --tw-prose-quotes: #ebfaee;
    --tw-prose-hr: #59e24a;
    --tw-prose-bullets: #6cb964;
    --tw-prose-counters: #6cb964;
    --tw-prose-bold: #ebfaec;
    --tw-prose-links: #59e24a;
    --tw-prose-lead: #4ac83a;
    --tw-prose-headings: #f7fdf7;
    --tw-prose-body: #ebfaf0;
}

.boring-dark .border-reflect {
    --gradientBorder-gradient: linear-gradient(180deg, #33934300, #33934ebd, #33935117), linear-gradient(15deg, #3393501f 50%, #339335bd) !important;
}

/* .dark\:active\:bg-pink-800\/40:active:is(.boring-dark *) {
    background-color: rgba(23, 157, 30, 0.4) !important;
} */

.bg-pink-500 {
    background-color: rgb(123 239 178) !important;
}

/* [class="bg-pink-500/15"]:is(.boring-dark *) {
    background-color: rgba(38, 92, 25, 0.15) !important;
} */
